* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: #666;
  background: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}
